html, body,  #root, .App{
  margin: 0px;
  height: calc(100% - 10px);
  /* margin-top:-10px; */
  overflow: hidden;
}
html{
  background-color: #01091e
}
body{
  font-family: 'Chivo Mono', cursive;
}
.App {
  text-align: center;
}


.website-banner{
  background-image: url('./assets/IMG/landing-page-banner.jpg');
   /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  color: white

}